<h1>Usuarios Registrados</h1>
<dir class="clear"></dir>
<table class="table" >
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Primer Nombre</th>
      <th scope="col">Segundo Nombre</th>
      <th scope="col">Primer Apellido</th>
      <th scope="col">Segundo Apellido</th>
      <th scope="col">Telefono</th>
      <th scope="col">Direccion</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Yamelis</td>
      <td>Carolina</td>
      <td>Almea</td>
      <td>Ramos</td>
      <td>04126005713</td>
      <td>Rivadeneria</td>
    </tr>
    
  </tbody>
</table>
